<!--<div ui-view>-->
    <!--<div class="form_content">-->
        <!--<div class="form_header">-->
                <!--<img src="/images/footer-logo.png">-->
                <!--&lt;!&ndash; <label>Welcome!</label> &ndash;&gt;-->
        <!--</div>  -->
        <!--<div class="form_body flex_form">-->
                <!--&lt;!&ndash; <h1>CHECKOUT</h1> &ndash;&gt;-->
                <!--<div id="webcam" ng-if="vm.showweb">-->
                                    <!--<webcam channel="vm.webcam.channel"-->
                                            <!--on-streaming="vm.webcam.onSuccess()"-->
                                            <!--on-error="vm.webcam.onError(err)"-->
                                            <!--on-stream="vm.webcam.onStream(stream)"></webcam>-->
                    <!---->
                                    <!--<md-button class="btn btn-default" type="button" ng-click="vm.webcam.makeSnapshot()">Сделать фото</md-button>-->
                                    <!--<canvas ng-hide="true" id="snapshot" width="200" height="200"></canvas>-->
                                    <!---->
                <!--</div>-->
                <!--<div ng-if="vm.photo">-->
                    <!--<form>  -->
                        <!--<img data-ng-src="{{'data:' + vm.fotoContentType + ';base64,' + vm.photo}}" width="320" height="180" style=""/>-->
                        <!--<md-input-container style="display: block;">-->
                            <!--<label for="testInput">Отчет</label>-->
                                          <!--&lt;!&ndash; <input id="testInput" ng-model="vm.report" md-autofocus type="text"> &ndash;&gt;-->
                            <!--<textarea  id="testInput" ng-model="vm.report" md-autofocus type="text"></textarea>-->

                        <!--</md-input-container>   -->
                        <!--<md-input-container style="display: block;">-->
                            <!--<label for="testInput">Отчет о прочитанной книге</label>-->
                                          <!--&lt;!&ndash; <input id="testInput" ng-model="vm.reportBook" md-autofocus type="text"> &ndash;&gt;-->
                            <!--<textarea  id="testInput" ng-model="vm.reportBook" md-autofocus type="text"></textarea>-->
                        <!--</md-input-container>-->
                        <!--<md-button class="btn btn-default" type="button" ng-click="vm.sendData(vm.photo, vm.report, vm.reportBook);vm.sendReport(vm.report)">Отправить</md-button>         -->
                    <!--</form>-->
                <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div ui-view>
    <div class="form_content">
        <div class="form_header">
            <img src="/images/footer-logo.png">
            <!-- <label>Welcome!</label> -->
        </div>
        <div class="form_body flex_form">
            <!-- <h1>CHECKOUT</h1> -->
            <div id="webcam" ng-if="vm.showweb">
                <webcam channel="vm.webcam.channel"
                        on-streaming="vm.webcam.onSuccess()"
                        on-error="vm.webcam.onError(err)"
                        on-stream="vm.webcam.onStream(stream)">
                </webcam>
                <md-button class="btn md-raised custom_btn md-primary" type="button" ng-click="vm.webcam.makeSnapshot()">Сделать фото</md-button>
                <canvas ng-hide="true" id="snapshot" width="200" height="200"></canvas>

            </div>
            <div ng-if="vm.photo">
                <form>
                    <img data-ng-src="{{'data:' + vm.fotoContentType + ';base64,' + vm.photo}}" width="320" height="180" style=""/>
                    <md-input-container style="display: block;">
                        <label for="reportDaily">Отчет</label>
                        <!-- <input id="testInput" ng-model="vm.report" md-autofocus type="text"> -->
                        <textarea  id="reportDaily" ng-model="vm.report" md-autofocus type="text"></textarea>

                    </md-input-container>
                    <md-input-container style="display: block;">
                        <label for="reportBook">Отчет о прочитанной книге</label>
                        <!-- <input id="testInput" ng-model="vm.reportBook" md-autofocus type="text"> -->
                        <textarea  id="reportBook" ng-model="vm.reportBook" md-autofocus type="text"></textarea>
                    </md-input-container>

                    <md-radio-group  ng-model="vm.doneReading">
                        <md-radio-button value="Закончил читать книгу"></md-radio-button>
                    </md-radio-group>

                    <md-button
                            class="custom_btn md-primary md-raised"
                            type="button"
                            ng-click="vm.sendData(vm.photo, vm.report, vm.reportBook);vm.sendReport(vm.report)">
                        Отправить
                    </md-button>
                </form>
            </div>
        </div>
    </div>
</div>


