<div ui-view class="form">
	<div class="form_content">
		<div class="form_header">
				<img src="/images/footer-logo.png">
				<!-- <label>Welcome!</label> -->
		</div>	
		<div class="form_body">
				<form>
				    <label style="display: block">{{vm.greeting}}</label>
				    
					<md-input-container class="md-block">
					  <label>Введите код</label>
					  <textarea ng-model="vm.code"></textarea>
					</md-input-container>
					<md-button class="md-raised md-primary custom_btn" style="display: block" ng-click="vm.checkIn(vm.code)">
						GO
					</md-button>
				    <!--<label>Тут должно быть инфо {{vm.data}}</label>-->
				    <!--I am hacker-->
				</form>
		</div>
	</div>
</div>