<div class="admin-wrapper">
	<header class="admin-header-main">
		<img src="/images/footer-logo.png" width="158" height="27">
		<div ng-cloak class="tab">
		</div>
	</header>

	<md-tabs md-stretch-tabs="always" md-dynamic-height md-center-tabs="true" style="background-color: #ffffff">

		<md-tab ui-sref="admin.settings" label="Настройки" >
		</md-tab>

		<md-tab ui-sref="admin.employees" label="Сотрудники" >
		</md-tab>

		<!--<md-tab label="FOR FUN" md-on-select="vm.setTab(4)">-->
		<!--</md-tab>-->
		<md-tab md-active="true" ui-sref="admin.reports" label="Отчеты">
		</md-tab>
	</md-tabs>

	<ui-view>	</ui-view>

</div>