<h1>CHECKOUT</h1>
<div id="webcam" ng-if="vm.showweb">
                    <webcam channel="vm.webcam.channel"
                            on-streaming="vm.webcam.onSuccess()"
                            on-error="vm.webcam.onError(err)"
                            on-stream="vm.webcam.onStream(stream)"></webcam>
                    <md-button class="btn btn-default" type="button" ng-click="vm.webcam.makeSnapshot()">Сделать фото</md-button>
                    <canvas ng-hide="true" id="snapshot" width="200" height="200"></canvas>
                    
</div>
<div ng-if="vm.photo">
	<img data-ng-src="{{'data:' + vm.fotoContentType + ';base64,' + vm.photo}}" width="320" height="180" style=""/>
	<md-input-container style="display: block;">
				      <label for="testInput">Отчет</label>
				      <input id="testInput" ng-model="vm.report" md-autofocus type="text">
    </md-input-container>	
    <md-input-container style="display: block;">
                      <label for="testInput">Отчет о прочитанной книге</label>
                      <input id="testInput" ng-model="vm.reportBook" md-autofocus type="text">
    </md-input-container>
    <md-button class="btn btn-default" type="button" ng-click="vm.sendData(vm.photo, vm.report, vm.reportBook)">Отправить</md-button>	
</div>
