<div ui-view class="form">
	<div class="form_content">
		<div class="form_header">
				<img src="/images/footer-logo.png">
				<!-- <label>Welcome!</label> -->
		</div>	
		<div class="form_body flex_form">
				<form class="full_form">
			    <!-- <label style="display: block">{{vm.greeting}}</label> -->
				    <div>
				    	<md-input-container class="md-block">
					      <label for="testInput">ВВЕДИТЕ СВОЙ ID</label>
					      <input id="testInput" ng-model="vm.employee_id" md-autofocus type="text">
					    </md-input-container>
				  	</div>
				  	<div>
						<md-button class="custom_btn md-raised md-primary" ng-click="vm.checkChecked(vm.employee_id)">Отправить</md-button>

						<!--<md-button ng-click="vm.checkChecked(vm.employee_id)">Отправить</md-button>-->
				  	</div>
				  	
				    
				</form>
		</div>

	</div>
	<div ng-if="vm.errorMessage" class="floating_alert">
		<label > {{vm.errorMessage}}</label>
	</div>
</div>
