<div ui-view>
	<form >
	    <label style="display: block">{{vm.greeting}}</label>
	    <md-input-container style="display: block">
	      <label for="testInput">ВВЕДИТЕ СВОЙ ID</label>
	      <input id="testInput" ng-model="vm.employee_id" md-autofocus type="text">
	    </md-input-container>
	     <md-button style="display: block" ng-click="vm.sendId(vm.employee_id)">
	      Отправить
	    </md-button>
	    

	</form>
</div>
<!-- <div>

  <div layout="row">

    <div flex>First item in row</div>
    <div flex="20">Second item in row</div>

  </div>
  <div layout="column">

    <div flex="66">First item in column</div>
    <div flex="33">Second item in column</div>

  </div>

</div>

<div>

  <div class="ng-scope layout-row">

    <div class="flex">First item in row</div>
    <div class="flex-20">Second item in row</div>

  </div>
  <div class="ng-scope layout-column">

    <div class="flex-33">First item in column</div>
    <div class="flex-66">Second item in column</div>

  </div>

</div>


<div layout="row"  >
  <div flex="66" flex-offset="15">
    [flex-offset="15"]
    [flex="66"]
  </div>
  <div flex>
    [flex]
  </div>
</div> -->



