body {
    padding-top: 0 !important;
}

.custom_btn {
    width: 100%;
    margin-left: 0 !important;
}

.floating_alert {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FF3D00;
    padding: 10px 20px;
    color: white;
}

.full_form {
    width: 100%;
}

html {
    background: #455C74;
}

.webcam-live {
    width: 100%;

}
.background_white {
    background-color: #fff;
    width: 80%;
}

.table-custom {
    width: 20% !important;
    text-align: center;
}

.fixed-cell {
    padding: 8px 100px !important;
}
.fixed-cell-day {
    padding: 8px 45px !important;
}
.aside_right {
    width: 20%;
    position: absolute;
    height: 100%;
    right:0;
    top: 0;
    background: white;
}