.sal-pan-wrapper {
    background-color: #EDEEF0;
    min-height: 800px;
    margin-top: 12px;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10px;
    margin-right: 10px;
}


/*.sal-pan-wrapper .sal-pan-month {*/
    /*flex: 1;*/
    /*background-color: #FFFFFF;*/
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
    /*!*align-items: center;*!*/
/*}*/

.sal-pan-wrapper .sal-pan-body {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    min-height: 1000px;
}
    .sal-pan-body .sal-pan-tools {
        flex:1;
        background-color: #4F6883;
        min-width: 60px;
        max-width: 60px;
    }
    .sal-pan-body .sal-pan-content {
        /*max-width: 1200px;*/
        min-width: 1200px;
        flex: 14;
        display: flex;
        flex-flow: row nowrap;
        /*background-color: #9E9E9E;*/
    }

.sal-pan-content .sal-pan-name {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    min-width: 200px;
    max-width: 200px;
    margin: 0 3px 0 10px;
}

    .sal-pan-name .sal-pan-title {
        background-color: #ffffff;
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 76px;
        max-height: 76px;
        max-width: 200px;
        /*margin: 5px;*/
        /*overflow: auto;*/
    }

        .sal-pan-title span {
            /*flex: 1;*/
            margin:auto;
        }

    .sal-pan-name .sal-pan-nlist  {
        flex: 12;
        width: 100%;
        padding: 6px;
        display: flex;
        flex-flow: column nowrap;
    }
        .sal-pan-nlist .sal-pan-list {
            background-color: #4F6883;
            min-height: 80px;
            width: 100%;
            margin-bottom: 10px;
        }

.sal-pan-content .sal-pan-report {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    min-width: 70%;
    min-width: 800px;
    /*max-width: 1100px;*/
}

    .sal-pan-report .sal-pan-month {
        flex: 1;
        background-color: #EDEEF0;
        display: flex;
        flex-flow: column nowrap;
        max-height: 40px;
        /*align-items: center;*/
    }
        .sal-pan-month .sal-pan-calendar {
            flex: 1;
            display: flex;
            background-color: #FEEBC8;
            max-width: 1400px;
        }
            .sal-pan-calendar .month {
                flex: 1;
                margin: auto;
                justify-content: center;
                min-width: 100px;
                max-width: 250px;
                padding: 0 10px 0 10px;
                display: flex;
                flex-flow: row wrap;
            }

            .month span {
                /*margin: 0 10% 0 10%;*/
                min-width: 110px;
                flex: 1;
                margin: auto;
            }
        /*.sal-pan-month .sal-pan-days {*/
            /*flex: 0.7;*/
            /*background-color: #31B6FC;*/
            /*display: flex;*/
            /*flex-flow: row nowrap;*/
            /*max-height: 800px;*/
            /*width: 1000px;*/
            /*overflow-x: auto;*/
            /*!*overflow-x: auto;*!*/
            /*!*-ms-overflow-x: auto;*!*/
            /*!*-webkit-overflow-scrolling: auto;*!*/
        /*}*/


    .sal-pan-report .sal-pan-repcontent {
        flex: 21;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        overflow-x: auto;
        /*background-color: #FF3D00;*/
    }

        .sal-pan-repcontent .sal-pan-days {
            flex: 0.7;
            display: flex;
            flex-flow: row nowrap;
            min-width: 100%;
            border-bottom: #4f6883 solid 1px;
            min-height: 3.5%;
            padding-left: 10px;
            /*background-color: #FFFFFF;*/
        }
                .sal-pan-days .day-content-da {
                    min-width: 100px;
                    max-width: 100px;
                    background-color: #FFFFFF;
                    min-height: 8.3%;
                    border-right: #4f6883 solid 1px;
                    display: flex;
                    flex-flow: row nowrap;
                    max-height: 32px;
                }
                    .day-content-da span{
                        margin: auto;
                    }
        /*.sal-pan-repcontent .sal-pan-day-report {*/
            /*flex: 20;*/
            /*display: flex;*/
            /*min-width: 100%;*/
            /*background-color: #FEEBC8;*/
            /*flex-flow: column nowrap;*/
            /*min-height: 65px;*/
            /*!*padding: 4px;*!*/
        /*}*/
        .sal-pan-repcontent .sal-pan-day-report {
            flex: 20;
            display: flex;
            min-width: 100%;
            background-color: #FEEBC8;
            flex-flow: column nowrap;
            padding-left: 10px;
        }
            .sal-pan-day-report .sal-pan-day-rep-body {
                min-height: 80px;
                display: flex;
                flex-flow: column nowrap;
                margin-bottom: 10px;
                background-color: aliceblue;
            }

             .day-content-sal {
                min-width: 100px;
                max-width: 100px;
                min-height: 30px;
                max-height: 80px;
                border-right: #4f6883 solid 1px;
                display: flex;
                flex-flow: column nowrap;
            }
                /*.day-content-sal span:nth-child(n + 5){*/
                    /*background-color: #4F6883;*/
                    /*z-index: auto;*/
                    /*position: absolute;*/
                    /*font-size: 20px;*/
                /*}*/

                /*.day-content-sal span:nth-child(1){*/
                    /*z-index: 10;*/
                    /*background-color: transparent;*/
                /*}*/
                /*.day-content-sal span:nth-child(2){*/
                    /*background-color: transparent;*/
                    /*z-index: 10;*/
                /*}*/
                /*.day-content-sal span:nth-child(3){*/
                    /*background-color: transparent;*/
                    /*z-index: 10;*/
                /*}*/
                /*.day-content-sal span:nth-child(4){*/
                    /*background-color: transparent;*/
                    /*z-index: 10;*/
                /*}*/



.cust-layout-row {
    display: flex;
    flex-flow: row nowrap;
    background-color: #FFFFFF;
}

.cust-layout-column {
    display: flex;
    flex-flow: column nowrap;
}

.cust-aside {
    min-width: 200px;
    min-height: 80px;
    background-color: aqua;
}

.sal-title {
    padding: 4px;
}

.aside-cust {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1049;
    overflow: auto;
    min-width: 320px;
    background: #fff;
}