.settings-row {
    /*margin: 5px;*/
    /*margin: auto;*/
    display: flex;
    flex-flow: row wrap;
    /*background-color: #e7e8ec;*/
    min-width: 80%;
}


.settings-tab-wrapper {
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    background-color: #EEF1F7;
    width: 90%;
    max-height: 800px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 2px;
    flex: 12;
    display: flex;
    flex-direction: column;
}
.settings-column {
    display: flex;
    flex-flow: column wrap;
    min-width: 100%;
}
.settings-create {
    flex: 1;
    background-color: #ffffff;
    margin: 5px;
    min-height: 380px;
    min-width: 400px;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
}

.settings-create .settings-header {
    /*background-color: #4F6883;*/
    padding: 5px;
    height: 55px;
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: solid 1px #EEF1F7;
}

.settings-header span {
    padding-left: 10px;
    flex: 5;
    margin: auto;
}
.settings-header a {
    padding: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 6%;
    max-height: 80%;
    background-color: #e8f4f9;
    margin: 5px;
}

.settings-create .settings-body {
    min-height: 85%;
    background-color: #ffffff;
    /*margin-top: 10px;*/
    padding: 10px;
}

.dpts-wrapper {
    width: 100%;
    min-height: 100%;
    /*background-color: #e7e8ec;*/
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
}
.dpts-body {
    background-color: #e8f4f9;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
    /*width: 100px;*/
    /*max-width: 150px;*/
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    margin-bottom: 10px;
}

.dpts-body > span{
    flex: 3;
}
.dpts-body > a {
    flex: 1;
}

.settings-dial-main {
    width: 500px;
    max-width: 500px;
    /*height: 500px;*/
    /*max-height: 500px;*/
}
.settings-dial-toolbar {
    width: 100%;
    /*height: 60px;*/
    background-color: #384554!important;
}
.settings-dial-wrapper {
    width: 100%;
    height: 60%;
}

.settings-dial-body {
    /*margin-bottom: 5%;*/
    /*padding: 4% 4% 1% 4%;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 500px;
    padding-top: 20px;
}

.settings-dial {
    display: flex;
    background-color: #4F6883;
    border-radius: 100%;
    width: 95px;
    height: 95px;
    margin: 3px;
}

.settings-dial .month {
    color: #D4E5FA;
    font-size: 1.5rem;
    margin: auto;
}


