
<!--<div class="admin-wrapper">-->
	<!--<header class="admin-header-main">-->
		<!--<img src="/images/footer-logo.png" width="158" height="27">-->
	<!--</header>-->

	<!--&lt;!&ndash;<div class="aside">-->

	<!--</div>&ndash;&gt;-->

	<!--<div class="admin-container">-->
		<!--<div class="calendar-container">-->

		<!--</div>-->

		<!--<div class="admin-header">-->
			<!--<button ng-click="vm.getSomething()">GetReport</button>-->
			<!--<button >Calendar</button>-->
			<!--&lt;!&ndash;<button ng-click="vm.getSomething()">Get Something</button>&ndash;&gt;-->
		<!--</div>-->
		<!--<div class="admin-main">-->
			<!--<div class="container-fluid">-->
				<!--<div class="table-responsive background_white">-->
					<!--<table class="table table-custom table-bordered table-hover" ng-repeat="report in vm.report track by $index">-->
						<!--<tr class="danger">-->
							<!--<th class="fixed-cell">FIO</th>-->
							<!--<th class="fixed-cell-day" ng-repeat="day in report.salaryReports track by $index">-->
								<!--<span ng-bind="day.salaryDetails.report.beginWorkDay | date: 'shortDate':'GMT+06:00'"></span>-->
							<!--</th>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td ng-bind="report.name"></td>-->
							<!--<td ng-repeat="minutes in report.salaryReports track by $index" rowspan="4">-->
								<!--<span class="{{report.name.split(' ')[0]}}_{{$index}}" ng-click="vm.getPersonalInfo(report.salaryReports[$index], $index, report)">-->
									<!--<span ng-bind="	(minutes.salaryDetails.report.totalTimeInMinutes)+' минут'">-->
								<!--</span><br>-->
								<!--<span ng-bind="'пришел в: '+(minutes.salaryDetails.report.beginWorkDay | date: 'shortTime':'GMT+06:00')"></span><br>-->
								<!--<span ng-bind="'ушел в: '+(minutes.salaryDetails.report.stopWorkDay | date: 'shortTime':'GMT+06:00')"></span><br>-->
								<!--<span ng-bind="'фикса: '+(minutes.salaryPerDay | number: 2)+' &#x20b8;'"></span>-->
								<!--</span>-->
							<!--</td>-->
						<!--</tr>-->
					<!--</table>-->
				<!--</div>-->
				<!--<div class="aside_right">-->
					<!--asdasd-->
				<!--</div>-->
			<!--</div>-->

		<!--</div>-->

	<!--</div>-->

<!--</div>-->

<div class="admin-wrapper">
	<header class="admin-header-main">
		<img src="/images/footer-logo.png" width="158" height="27">
	</header>

	<!--<div class="aside">

	</div>-->

	<div class="admin-container">
		<div class="calendar-container">

		</div>

		<div class="admin-header">
			<button ng-click="vm.getSomething()">GetReport</button>
			<button >Calendar</button>
			<!--<button ng-click="vm.getSomething()">Get Something</button>-->
		</div>
			<div class="admin-main">
				<div class="table-header">
					<div class="table-heading">
						<!--<div class="table-main">
						</div>-->
						<span> Ф.И.О.</span>
					</div>

					<div class="table-cell-header">
						<span>february</span>
						<!--<div class="table-main-cell"> &lt;!&ndash;ng-repeat="date in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index"&ndash;&gt;-->
						<!--<span>date</span>-->
						<!--<span>date</span>-->
						<!--<span>date</span>-->
						<!--<span>date</span>-->

						<!--</div>-->
						<div class="table-main-cell"> <!--ng-repeat="date in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index"-->
							<span class="line"  ng-repeat="date in vm.date track by $index">{{ date }}</span>
						</div>
					</div>
				</div>

				<div class="table-body" ng-repeat="report in vm.report track by $index">
					<div class="table-body-main">
						<span class="name"> {{ report.name }} </span>
						<div class="icon">
							<span class="icon-pencil"></span>
							<span class="icon-bin"></span>
						</div>
					</div>

					<div class="table-body-cell-header" >
						<span class="report" ng-repeat="minutes in report.report track by $index" >
						<span class="elem_{{minutes.minutes}}_{{$index}}" ng-bind="minutes.totalTimeInMinutes" ng-click="vm.getPersonalInfo(report.report[$index], $index)"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>


<!--it was after div class admin-main-->
