<md-dialog id="dialog" aria-label="Регистрация" class="form-main">
  <form ng-cloak id='content' name="userForm">
    <md-toolbar class="form-toolbar">

    </md-toolbar>

    <md-dialog-content  class="form-wrapper">

      <md-content class="md-no-momentum">
        <div layout="row">
          <md-input-container class="md-icon-float md-block" flex="50">
            <label>Имя</label>
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="vm.user.firstname" type="text" placeholder="Имя (объязательная)" ng-required="true">
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="50">
            <label>Фамилия</label>
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="vm.user.lastname" type="text" placeholder="Фамилия (объязательная)" ng-required="true">
          </md-input-container>
        </div>

        <md-content layout="row">
          <md-input-container class="md-icon-float md-block" flex="50">
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <label>Текущий департамент сотрудника</label>
            <input ng-model="vm.user.department" type="text" placeholder="Текущий департамент сотрудника" ng-required="true">
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="50">
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <label>Сменить департамент</label>
            <!--<input type="hidden" ng-model="vm.dpt_id">-->
            <md-select ng-model="vm.user.department" required>
              <md-option ng-value="dpt.department" ng-repeat="dpt in vm.dpts">{{ dpt.department }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container ng-if="vm.dpts.length != 0" class="md-icon-float md-block" flex="50" ng-click="vm.getPositions(vm.user.department)">
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <label>Текущая должность сотрудника</label>
            <input ng-model="vm.user.position" type="text" placeholder="Текущая должность сотрудника" ng-required="true">
          </md-input-container>
          <md-input-container ng-if="vm.specPosition" class="md-icon-float md-block" flex="50">
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <label>Сменить должность</label>
            <md-select ng-model="vm.user.position" required>
              <md-option ng-value="pos.position" ng-repeat="pos in vm.specPosition">{{ pos.position }}</md-option>
            </md-select>
          </md-input-container>
          <!--<md-input-container ng-if="vm.dpts.length != 0" class="md-icon-float md-block" flex="50">-->
            <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
            <!--<label>Должность</label>-->
            <!--<md-select ng-model="vm.user.position" required>-->
              <!--<md-option ng-value="pos.position" ng-repeat="pos in vm.positions">{{ pos.position }}</md-option>-->
            <!--</md-select>-->
          <!--</md-input-container>-->
          <md-input-container ng-click="vm.getId(vm.user.department)" class="md-icon-float md-block" flex="50">
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <label>Новый ID сотрудника</label>
            <!--<md-select name="type" ng-model="vm.user.employee_id" required>-->
            <!--&lt;!&ndash;<md-option  value={{vm.user.employee_id}}>{{vm.user.employee_id}}</md-option>&ndash;&gt;-->
            <!--&lt;!&ndash;<md-option  value={{vm.user.employee_id}}>{{vm.user.employee_id + 2}}</md-option>&ndash;&gt;-->
            <!--</md-select>-->
            <input ng-model="vm.user.employee_id" type="text" placeholder="ID сотрудника" ng-required="true">
          </md-input-container>
        </md-content>
        <div layout="row">
          <md-input-container class="md-icon-float md-icon-right md-block" flex="50">
            <label>Рабочее время</label>
            <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>
            <input ng-model="vm.user.work_time" type="number" step="1">
            <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
          </md-input-container>

          <md-input-container class="md-icon-float md-icon-right md-block" flex="50">
            <label>Бот ID</label>
            <!--<md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>-->
            <input ng-model="vm.user.botId" type="text" placeholder="ID бота сотрудника">
            <!--<span ng-repeat="bot in vm.botInfo" layout="row"> {{bot.botid + ' Код регистрации: ' + bot.counter }} </span>-->
            <!--<md-select ng-model="vm.user.botId" required>-->
              <!--<md-option ng-value= "bot.botid" ng-repeat="bot in vm.botInfo">{{ bot.botid }}</md-option>-->
            <!--</md-select>-->
            <!--<md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>-->
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="50">
            <label>Зарплата</label>
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="vm.user.salary_fixed" type="text" placeholder="По умолчанию - 0.0" ng-required="true">
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="50">
            <label>Бонус</label>
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="vm.user.bonus" type="text" placeholder="По умолчанию - 0.0" ng-required="true">
          </md-input-container>
        </div>



        <div layout="row">
          <div layout="row" flex="50">
            <md-input-container class="md-icon-float md-block" flex="50">
              <label>Текуший статус "Админ"</label>
              <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
              <input ng-model="vm.user.admin" type="text" placeholder="Статус" ng-required="true">
            </md-input-container>

            <!--<md-input-container class="md-block">-->
              <!--<md-switch class="md-primary" name="special" ng-model="project.special" required>-->
                <!--Статус "Админ"-->
              <!--</md-switch>-->
              <!--<div ng-messages="projectForm.special.$error" multiple>-->
                <!--<div ng-message="required">-->
                  <!--You must enable all special options before you can proceed.-->
                <!--</div>-->
              <!--</div>-->
            <!--</md-input-container>-->
            <md-input-container class="md-icon-float md-icon-right md-block" flex="50" style="margin-left: 20px;">
              <label>Статус "Админ"</label>
              <!--<md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>-->
              <!--<input ng-model="vm.user.botId" type="text" placeholder="ID бота сотрудника">-->
              <!--<span ng-repeat="bot in vm.botInfo" layout="row"> {{bot.botid + ' Код регистрации: ' + bot.counter }} </span>-->
              <md-select ng-model="vm.user.admin" required>
                <md-option ng-value= "true">Да</md-option>
                <md-option ng-value= "false">Нет</md-option>
              </md-select>
              <!--<md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>-->
            </md-input-container>
          </div>
          <md-input-container md-no-float class="md-block" flex="25">
            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
            <input ng-model="vm.user.disabled" type="text" placeholder="Уволен/Работает" ng-required="true">
          </md-input-container>

          <md-input-container class="md-icon-float md-icon-right md-block" flex="50" style="margin-left: 20px;">
            <label> Стасус "Уволен/Работает"</label>
            <!--<md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>-->
            <!--<input ng-model="vm.user.botId" type="text" placeholder="ID бота сотрудника">-->
            <!--<span ng-repeat="bot in vm.botInfo" layout="row"> {{bot.botid + ' Код регистрации: ' + bot.counter }} </span>-->
            <md-select ng-model="vm.user.disabled" required>
              <md-option ng-value= "true">Да</md-option>
              <md-option ng-value= "false">Нет</md-option>
            </md-select>
            <!--<md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>-->
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container md-no-float class="md-block" flex="50">
            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
            <input ng-model="vm.user.phonenumber" type="text" placeholder="Мобильный номер" ng-required="true">
          </md-input-container>

          <md-input-container md-no-float class="md-block" flex="50">
            <!-- Use floating placeholder instead of label -->
            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
            <input ng-model="vm.user.email" type="email" placeholder="Электронная почта" ng-required="true">
          </md-input-container>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
      <!--More on Wikipedia-->
      <!--</md-button>-->
      <!--<span flex></span>-->

      <md-button class="button-font" ng-click="vm.changeUser(vm.user)" ng-disabled="userForm.$invalid">
        Сохранить изменения
      </md-button>
      <md-button class="button-font" ng-click="vm.cancel()">
        Отмена
      </md-button>

    </md-dialog-actions>
  </form>
</md-dialog>