<div class="employee-grid" ng-repeat="user in vm.archUsers">
  <div class="employee-grid-header">
    <span>Информация сотрудника</span>
    <span ng-click="vm.rehireEmpl(user._id)"><img src="/images/employees/plus.svg" alt="Rehire" width="32" height="24"></span>
    <span ng-click="vm.removeEmpl(user._id)"><img src="/images/employees/delete.svg" alt="Delete" width="32" height="24"></span>
  </div>

  <div class="employee-grid-body">
    <div class="employee-info-common">
      <div class="employee-avatar">
        <img src="/images/user.svg" width="54" height="54">
      </div>
      <div class="employee-info">
        <span>{{user.firstname}}</span>
        <span>{{user.lastname}}</span>
        <span>{{user.department}}</span>
        <span>{{user.position}}</span>
        <span>ID:{{user.employee_id}}</span>
        <span>Моб. номер: {{user.phonenumber}}</span>
      </div>

    </div>
    <div class="employee-info-salary">
      <div class="table">
        <span>Зарплата</span>
        <span>{{user.salary_fixed}}</span>
      </div>
      <div class="table">
        <span>Бонус</span>
        <span>{{ user.bonus?user.bonus:'Не задано' }}</span>
      </div>
      <div class="table">
        <span>Фиксировнное время работы:</span>
        <span>{{user.work_time?user.work_time:"Не задано"}}</span>
      </div>
    </div>
  </div>
</div>