<div class="tab-content">
  <div class="employee-sidebar">
    <a class="tool" ui-sref="admin.employees">
      <img class="img-wrapper" src="/images/employees/users1.svg" alt="Сотрудники">
      <span class="label-text">Сотрудники</span>
    </a>
    <a class="tool" ng-click="vm.addEmployee($event)">
      <img class="img-wrapper" src="/images/adduser.svg" alt="Добавить нового сотрдуника">
      <span class="label-text">Добавить сотрудника</span>
    </a>
    <a class="tool" ui-sref="admin.employees.archived">
      <img class="img-wrapper" src="/images/employees/archidevuser.svg" alt="Архивиронные">
      <span class="label-text">Архив бывших сотрудников</span>
    </a>
    <!--<a class="tool" ng-click="vm.rehireAll()">-->
      <!--<img class="img-wrapper" src="/images/employees/archidevuser.svg" alt="Архивиронные">-->
      <!--<span class="label-text">Rehire</span>-->
    <!--</a>-->
  </div>

  <div class="employees-tab-wrapper" ui-view>
    <div class="employee-tab-title">
      <h3>Данные сотрудник  ов</h3>
    </div>
    <div class="centered-content">
      <div class="employee-grid" ng-repeat="user in vm.users">
          <div class="employee-grid-header">
            <span>Данные сотрудника</span>
            <span ><img ng-click="vm.archiveEmployee(user._id)" src="/images/delete.svg" alt="Delete" width="18" height="16"></span>
          </div>
      <a href="" ng-click="vm.changeInfo($event, user._id)" style="text-decoration: none">
        <div class="employee-grid-body">
            <div class="employee-info-common">
              <div class="employee-avatar">
                <img src="/images/user.svg" width="54" height="54">
              </div>
              <div class="employee-info">
                <span class="text-name">{{user.firstname}} {{ user.lastname}}</span>
                <!--<span>{{user.lastname}}</span>-->
                <span class="text-list">Департамент: <span class="inner-text">{{user.department.department}}</span></span>
                <span class="text-list">Должность: <span class="inner-text">{{user.position.position}}</span> </span>
                <span class="text-list">ID: <span class="inner-text">{{user.employee_id}}</span></span>
                <span class="text-list">Моб. номер: <span class="inner-text"> {{user.phonenumber}}</span></span>
                <span class="text-list">Email: <span class="inner-text">{{user.email}}</span></span>
              </div>
            </div>
            <div class="employee-info-salary">
              <div class="table1">
                <span>Зарплата</span>
                <span>{{user.salary_fixed}}</span>
              </div>
              <div class="table1">
                <span>Бонус</span>
                <span>{{ user.bonus ? user.bonus:' Не задано'}}</span>
              </div>
              <div class="table1">
                <span>Фиксировнное время работы:</span>
                <span>{{ user.work_time ? user.work_time:" Не задано"}}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

