<div class="tab-content">
  <div class="employee-sidebar">
    <a class="tool" ui-sref="admin.employees">
      <img src="/images/employees/users1.svg" alt="Сотрудники">
    </a>
    <a class="tool" ng-click="vm.addEmployee($event)">
      <img src="/images/adduser.svg" alt="Добавить нового сотрдуника">
    </a>
    <a class="tool" ui-sref="admin.employees.archived">
      <img src="/images/employees/archidevuser.svg" alt="Архивиронные">
    </a>

  </div>

  <div class="employees-tab-wrapper" ui-view>
    <div class="employee-grid" ng-repeat="user in vm.users">
      <div class="employee-grid-header">
        <span>Информация сотрудника</span>
        <span ng-click="vm.archiveEmployee(user._id)"><img src="/images/delete.svg" alt="Delete" width="32" height="24"></span>
      </div>

      <div class="employee-grid-body">
        <div class="employee-info-common">
          <div class="employee-avatar">
            <img src="/images/user.svg" width="54" height="54">
          </div>
          <div class="employee-info">
            <span>{{user.firstname}}</span>
            <span>{{user.lastname}}</span>
            <span>Отдел: {{user.department}}</span>
            <span> {{user.position}}</span>
            <span>ID:{{user.employee_id}}</span>
            <span>Моб. номер: {{user.phonenumber}}</span>
            <span>Email: {{user.email}}</span>

          </div>

        </div>
        <div class="employee-info-salary">
          <div class="table">
            <span>Зарплата</span>
            <span>{{user.salary_fixed}}</span>
          </div>
          <div class="table">
            <span>Бонус</span>
            <span>{{user.bonus?user.bonus:'Не задано'}}</span>
          </div>
          <div class="table">
            <span>Фиксировнное время работы:</span>
            <span>{{user.work_time?user.work_time:"Не задано"}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

